body {
  font-family: 'Ubuntu';  /* Se agrego la fuente Ubuntu de google fonts*/
}

input {
  width: 500px;
  height: 40px;
  font-size: 18px;
}

p {
  margin-top: 10px; /* Se agrego un margin top para separar el texto del borde superior del div*/
}

#lista-de-productos {
  display: flex
}

.producto {
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 2px solid white; /* Se cambio el color negro del borde del elemento producto por un borde color blanco */
  border-radius: 10%; /* Se agrego un borde redondeado con un valor de 10% para mejorar la presentación de los productos */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.producto img {
  width: 70%;
  height: auto;  
  border-radius: 10%;  /* Se agregó un borde redondeado con un valor de 10% para mejorar la presentación de la imágen */
}